:root {
    --font-family: 'Work Sans';
    --primary-color: #FF900E;
    --color: #FFFFFF;
}

/* heading section start */
.head-section {
     width: 100% ;
     height: 1190px; 
  margin-bottom: 40px;
    margin-right: 240px;
    background: rgba(255, 144, 14, 0.1);

}
/* navigation styles */

.nav-container {
    display: flex;
    justify-content: space-around;
    font-family: var(--font-family);
}

.ul-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    gap: 80px;

}

nav li{
    list-style: none;
    text-decoration: none;
    color: #424242;
}

/* banner section styles */

.banner-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 64px;
   
}

.banner-button {
    width: 180px;
    height: 64px;
    margin-top: 32px;
    margin-bottom: 50px;
    background-color: var(--primary-color);
    font-weight: 600;
    font-size: 20px;
    color: var(--color);
    border-radius: 8px;
    border: 1px solid white
}

.banner-div>img {
    width: 1440px;
    height: 700px;
    border-radius: 8px;
}

/* heading section end */

/* --------------
main section start 
---------------*/
.main-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 800px;
    
    gap: 70px;
    margin-left: 70px;

}

.img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-radius: 8px;
    width: 342px;
    height: 342px;
    padding: 20px;
}

.paragraph-section {
    width: 537px;
    height: 304px;
    align-items: center;
    margin-top: 140px;
   padding: 20px;
}

.paragraph-title {
    width: 468px;
    height: 106px;
    font-weight: 500;
    font-size: 45px;
}

.title-1 {
    color: #727272;
}

.title-2 {
    color: #131313;
}

.title-3 {
    color: var(--primary-color);
}

.paragraph-section p {
    font-weight: 400;
    font-size: 16px;
}

/*--------------- main section-2 start-------------- */
.main-section-2 {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    width: 80%px;
    height: 1100px;
    margin-top: 150px;
    
}

.article-feature {
    width: 586px;
    height: 744px;
    padding: 50px;
}


.feature-title {
    width: 468px;
    height: 106px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
    border-left:   8px solid #FF900E;
  padding-left: 30px;
  padding-top: 30px;

   
}


.div-feature>p {
    width: 586px;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
}

.feature-paragraph {
    display: flex;
    flex-direction: column;
    width: 586px;
    height: 744px;
    margin-top: 30px;
}
.feature-paragraph .child{
    border:9px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 5px 10px rgb(250, 248, 248);
    margin-bottom: 20px;
}

.main-section-img {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1059px;
    margin-left: 50px;
    padding-left: 40px;
}

.main-section-img>img {
    width: 600px;
    height: 950px;
    border-radius: 8px;
    
}

.Experience-button {
    position: relative;
    top: -120px;
    left: -100px;
    text-align: center;
    width: 330px;
    height: 200px;
    font-weight: 700;
    font-size: 65px;
    border-radius: 8px;
    background-color: var(--primary-color);
    font-family: var(--font-family);
    color: var(--color);
    padding: 42px;
}

.btn-part {
    font-weight: 500;
    font-size: 25px;
}

/* --------------some fact styles----------- */
.some-facts {
    gap: 13px;
    padding: 40px;
}

.some-facts h2 {
    width: 258px;
    height: 53px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;
}

.some-facts p {
    width: 542px;
    height: 52px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    
}

.outer-div {
    width: 240px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}

.inner-div {
    width: 150px;
    height: 150px;
    margin: 40px;
  
    text-align: center;

}

.inner-div:hover{
    transform: rotate(45deg);
    width: 150px;
    height: 150px;
    margin: 40px;
    border: 1px solid #FF900E;
    text-align: center;

}
.inner-div>img {
    height: 50px;
    width: 40px;
}

.inner-div>h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    
}

.inner-div>p {
    color: #727272;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    margin: 8px;
  
  
}

/* sponsors styles */
.sponsors{
    margin-top: 150px;
}
.sponsors-head-para {
  display: flex;
  justify-content: center;
   flex-direction: column; 
 align-items: center;
}

.sponsors-title {
    width: 327px;
    height: 53px;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 45px;

}

.sponsors-para {
    width: 542px;
    height: 52px;
    color: #727272;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}

.sponsors-icon {
    display: flex;
    justify-content: space-evenly;
    color: grey;
    margin-top: 30px;

}

/* bonus section */
.bonus-section {
    width: 100%;
    height: 1000px;
    margin-top: 170px;
  
    align-items: center;
}
.bonus-section-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonus-section-title {
    width: 258px;
    height: 83px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    display: inline;
    color: rgb(3, 65, 3);
    
    
}

.design-grid {
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    border-radius: 8px;
    width: 342px;
    height: 342px;
   margin-right: 450px;
   margin-top: 100px;
  
 
}

.bonus-div {
    height: 350px;
    width: 350px;
    border: 3px solid black;
    border-radius: 8px;
    text-align: center;
    padding: 20px;

}

.bonus-div img {
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 8px;
}

.btn {
    height: 45px;
    width: 150px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: rgb(1, 28, 1);
    color: white;
    font-family: var(--font-family);
    font-weight: 600px;
    font-size: 20px;
    margin-top: 10px;
}

/* footer styles */
.footer {
    width: 1200px;
    height: 50px;
    background: #FFF4E7;
border-radius: 8px;
border-radius: 8px;
    padding: 40px;
    margin-left: 100px;
    margin-top: 50px;
}
.footer-para{
    font-family: var(--font-family);
    font-weight: 400;
font-size: 20px;
color: #424242;
text-align: center;
}